<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: coral;
}
</style>
</head>
<body>
<h1 style="text-align:center">Welcome to the cognics folks!</h1><br/><br/>
<h2>Who we wre:</h2>
<p>We are fast-growing technology firm headquartered in Jabalpur, India and preferred partner for consulting, outsourcing, staffing, and technology services. Incorporated in 2011, The Company is led by highly experienced professionals from fortune 15 Information Technology and Consulting companies. We serve major world markets and key industry sectors: Insurance, Healthcare, Automotive, Supply Chain, Education, and Government.</p>
<center>
<a style="text-align:center" href="/lab">Move to next</a>
</center>
</body>
</html>
